extends layouts/main-layout

block content
    if status
        p #{user.username}
        .profileHeaderContainer
            .coverPhotoContainer

                .userImageContainer
                    img(src=user.profilePic, alt="User profile image")

            .profileButtonsContainer
                if user._id != userLoggedJs._id
                    a.profileButton(href=`/messages/${user._id}`)
                        i.fas.fa-envelope
                    +createFollowButton(user, false)
        .postContainer

        +createPostModals(user)

block scripts
    script(src='/js/profile.js')