extends layouts/login-layout

block content
    .container.h-100
        .row.d-flex.justify-content-center.align-items-center.h-100
            .col-lg-12.col-xl-11
                .card.text-black(style='border-radius: 25px;')
                    .card-body.p-md-5
                        .row.justify-content-center
                            .col-md-10.col-lg-6.col-xl-5.order-2.order-lg-1
                                p.text-center.h1.fw-bold.mb-5.mx-1.mx-md-4.mt-4 Sign up
                                form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm()")
                                    .mx-1.mx-md-4
                                    .d-flex.flex-row.align-items-center.mb-4
                                        i.fas.fa-user.fa-lg.me-3.fa-fw
                                        .form-outline.flex-fill.mb-0
                                            input#form3Example1c.form-control(type='text')
                                            label.form-label(for='form3Example1c') Your Name
                                    .d-flex.flex-row.align-items-center.mb-4
                                        i.fas.fa-envelope.fa-lg.me-3.fa-fw
                                        .form-outline.flex-fill.mb-0
                                            input#form3Example3c.form-control(type='email')
                                            label.form-label(for='form3Example3c') Your Email
                                    .d-flex.flex-row.align-items-center.mb-4
                                        i.fas.fa-lock.fa-lg.me-3.fa-fw
                                        .form-outline.flex-fill.mb-0
                                            input#form3Example4c.form-control(type='password')
                                            label.form-label(for='form3Example4c') Password
                                    .d-flex.flex-row.align-items-center.mb-4
                                        i.fas.fa-key.fa-lg.me-3.fa-fw
                                        .form-outline.flex-fill.mb-0
                                            input#password.form-control(type='password')
                                            label.form-label(for='form3Example4cd') Repeat your password
                                    .form-check.d-flex.justify-content-center.mb-5
                                        button.btn.btn-primary.btn-lg(type='submit') Register
                            .col-md-10.col-lg-6.col-xl-7.d-flex.align-items-center.order-1.order-lg-2
                                img.img-fluid(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp' alt='Sample image')



    //.loginContainer
    //    h1= title
    //    p Welcome to #{title}
    //    form#registerForm(method="post")
    //        input(type="text", name="firstName", placeholder="First name", required="")
    //        input(type="text", name="lastName", placeholder="Last name", required="")
    //        input(type="text", name="userName", placeholder="User name", required="")
    //        input(type="email", name="email", placeholder="Email", required="")
    //        input#password(type="password", name="password", placeholder="Password", required="")
    //        input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
    //        input(type="submit", value="Register")
    //    a(href="/login") Already have an account? Login here.

    script.
        const passwordField = document.getElementById("password")
        const passwordConfField = document.getElementById("passwordConf")

        const form = document.getElementById("registerForm")

        function validateForm() {
            if (passwordField.value !== passwordConfField.value) {
                alert('Passwords do not match.')
            } else {
                form.submit()
            }

        }